 :root { --nord1--nordtheme--font:BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neu Helvetica","Arial", sans-serif;
}

body {
    font-family: var(--font);
    color: (--nord1);
}
 
header {
    display: flex;
}
ul {
    list-style-type:var(--nord1--nordtheme--font);
}


img {
    width: 45%;
    height: 30%;
    margin-right: 16px;
    border-radius:30px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: (--nord7);
} 

div {
    padding-left:10%;
    border: 0px  solid black;  
    padding-right:10%;
    padding-top: 0%;
}
#alma{
    padding-top: 5%;
}